// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
  position: absolute;
  top: 50px;
  right: 120px;
  width: 120px;
  z-index: 2;
  padding: 5px 5px;
  background-color: white;
  border: 1px solid $lightest-gray;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}
.gear-dropdown li {
  position: relative;
  margin: 5px auto;
}

.dropdown-subtitle {
  color: $dark-gray;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  font-family: sans-serif;
}

.editions a {
  color: $dark-gray;
  text-decoration: none;
  text-transform: uppercase;
}
.editions li:hover {
  background-color: $light-gray;
}

.help a {
  color: $light-blue;
}
