<% action_url = album.persisted? ? album_url(album) : albums_url %>
<% method = album.persisted? ? "PATCH" : "POST" %>

<form action="<%= action_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= method %>">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >
  <p>
    <label>
      Name
      <input type="text" name="album[name]" value="<%= album.name %>">
    </label>
  </p>

  <input type="submit">
</form>
